controller:
  adminUser: "admin"
  adminPassword: "admin1234"
  serviceType: NodePort
  nodePort: 32000

  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest

persistence:
  enabled: true
  size: 5Gi
